.chatbox-enter {
    transform: scale(0);
  }
.chatbox-enter-active {
    transform: scale(1);
    transition: all 0.7s ease;
  }
.chatbox-exit {
    transform: scale(1);
  }
.chatbox-exit-active {
    transform: scale(0);
    transition: all 0.7s ease;
  }
  
@keyframes message-slide-from-left {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes message-scale-in {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}